<%= form_for @user do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.label :name %>
<%= f.text_field :name %>
<br />
<%= f.label :password %>
<%= f.password_field :password %>
<br />
<%= f.label :height %>
<%= f.text_field :height %>
<br />
<%= f.label :happiness %>
<%= f.text_field :happiness %>
<br />
<%= f.label :nausea %>
<%= f.text_field :nausea %>
<br />
<%= f.label :tickets %>
<%= f.text_field :tickets %>
<br />
<%= f.label :admin, "Check box if you are an admin" %>
  <%= f.check_box :admin%>

<%= f.submit %>
<% end %>
